h1{
 font-family:"Yeseva One", sans-serif;
 color : white;
 font-size: 1em;
}
h2{
    color : white;
    font-family: "Yeseva One";
    font-size: 2.5em;
    margin-left: 2.5em;
    margin-top: 1em;    
} 
.couleur{
   color : rgb(33,201,153);
}
body{
    background-color:rgba(4,24,33,255);
}
.description{
    color : rgba(92,107,114,255);
    font-family: "Montserrat",sans-serif;
    margin-left: 6.1em;
}
nav{
    color : white;
    font-size: 0.8em;
    font-family: "Montserrat",sans-serif;
    display: flex;
    justify-content: center;
    margin-top: 1.2em;
    margin-bottom: 1.5em;
}
.nature{
    margin-right: 0.6em;
}
.portrait{
    margin-right: 0.6em;
}
.art{
    margin-right: 0.6em;
}
.urbain{
    margin-right: 0.6em;
}
.art:hover{
    background-color: #21d399;
}
.nature:hover{
    background-color: #21d399;
}
.portrait:hover{
    background-color: #21d399;
}
.urbain:hover{
    background-color: #21d399;
}
.animaux:hover{
    background-color: #21d399;
}
footer{
    color: rgba(92,107,114,255);
    display: flex;
    justify-content:center;    
}
.type{
    display: flex;
    justify-content: center;
    font-size: 0.80em;
}


