.en_tete {
    display: flex;
    justify-content: space-between; /* Espace entre les éléments */
    align-items: center; /* Aligne verticalement au centre */
    padding: 1em;
    font-family:"Yeseva One", sans-serif;
    font-size: 0.6em;
    color: white;
}
.reseaux {
    display: flex; /* Aligne les icônes en ligne */
    gap: 1em;/* Espace entre les icônes */
    
    font-size:1.4em;
}
h2{
    color : white;
    font-family: "Yeseva One";
    font-size: 2.5em;
    margin-left: 2.5em;
    margin-top: 1em;    
} 
.couleur{
   color : rgb(33,201,153);
}
body{
    background-color:rgba(4,24,33,255);
}
.description{
    color : rgba(92,107,114,255);
    font-family: "Montserrat",sans-serif;
    margin-left: 6.1em;  /*on laisse une marge à gauche*/
}
nav{
    color : white;
    font-size: 0.8em;
    font-family: "Montserrat",sans-serif;
    display: flex;
    justify-content: center;/*on aligne les éléments du menu de navigation*/
    margin-top: 1.2em;
    margin-bottom: 1.5em;
    gap: 0.6em;/*on espace les éléments du menu*/
}
.nature, .portrait, .animaux, .art, .urbain{
    padding: 0.2em;/*les bords du background ne touche pas directement*/
}
.art:hover, .nature:hover,.portrait:hover,.urbain:hover,.animaux:hover{
    background-color: #21d399;/*lorsqu'on passe la souris un fond d'écran apparaît sur le texte*/
}
footer{
    color: rgba(92,107,114,255);
    display: flex;
    justify-content:center;  /*on affiche les crédits au centre du bas de page*/  
}
.type{
    display: flex;
    justify-content: center;
    font-size: 0.80em; /*on centre et on modifie la taille de "Exercice HTML-CSS*/
}

.galerie{
   display:grid;
   grid-template-columns:200px 200px 200px 200px ;
   justify-content: center;
   gap: 0.6em;

}
/* Media Queries */

/*responsive tablette*/
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .galerie {
        grid-template-columns: repeat(5, 1fr);
        margin-left: 2em;
        
    }
    .galerie img:nth-child(n + 16) { /*on affiche que les 10 premières photos*/
        display: none;
    }
}
/*responsive pour mobile*/
@media screen and (max-width: 768px) {
    .galerie {
        grid-template-columns: repeat(3, 1fr);
        margin-left: 2em;
        margin-right: 2em;
    }
    .galerie img:nth-child(n + 10) { /*on affiche que les 10 premières photos*/
        display: none;
    }
    .en_tete {
        flex-direction: column;
        align-items: center;  /*on réaligne le nome solene et les logo des réseaux sociaux l'un en dessous de l'autre*/
    }
    
    h2 {
        font-size: 2em; /*on modifie la taille du titre 2*/
    }

    .description {
        margin-left: 1em; /*idem*/
    }
}



